.top-nav {
    grid-area: main-view;
    height: 60px;
    position: relative;
    z-index: 2;
    background-color: #0f3c41;
    display: flex;
    padding: 0 3rem;
    justify-content: space-between;
    align-items: center;
    
    &__title {
        font-size: 2.5rem;
        font-size: 400;
        color: $color-off-white;
        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;
    }
    
    &__user-box {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        background-color: grey;
    }
}
