h1 {
    margin: 0;
    padding: 0;
}

%heading {
    font-family: 'Roboto Slab', serif;
    font-size: 5rem;
    text-align: center;
    word-spacing: 5px;
}

.heading-primary--gradient {
    @extend %heading;
    margin-bottom: 3rem;
    background: linear-gradient(to bottom, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}

.heading-primary--solid {
    @extend %heading;
    margin-bottom: 6rem;
    color: $color-off-white;
}